<div class="container">
  <div class="wrapper">
  <h1>Your Current Bookings</h1>
    <div class="content">
      <% @user_bookings.each do |booking| %>
    <div class="card-trip col-4">
      <% booking.van.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end  %>
        <div class="card-trip-infos">
          <div>
            <h2><%= booking.van.listing_title %></h2>
            <p>Pick up: <%= booking.starting_date %></p>
            <p>Drop off: <%= booking.end_date %></p>
              <%#   <% booking.van.photos.each do |photo| %>
                <%#  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <%#     <% end %>
          </div>
          <h2 class="card-trip-pricing"><i class="fa-brands fa-bitcoin"></i> <%= (booking.end_date - booking.starting_date).to_i * booking.van.cost %></h2>
          <%#   <img src="https://loremflickr.com/320/240/paris,girl/all" class="card-trip-user avatar-bordered" /> %>
          <%= cl_image_tag(booking.van.user.photo.key, :class => "card-trip-user avatar-bordered", crop: :thumb, gravity: :face) %>
        </div>
    </div>
      <% end %>
    </div>
  </div>
</div>
