<div class="container">
  <% user_bookings.each do |van| %>
    <a href= <%= "vans/#{van.id}" %> >
      <div class="card-trip col-4">
        <% van.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end  %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= van.listing_title %> </h2>
            <p><%= van.description %></p>
          </div>
            <h2 class="card-trip-pricing"><i class="fa-brands fa-bitcoin"></i> <%= van.cost %>/night</h2>
            <%= cl_image_tag(van.user.photo.key, :class => "card-trip-user avatar-bordered", crop: :thumb, gravity: :face) %>
        </div>
      </div>
    </a>
  <% end %>
</div>
